@import 'tailwindcss';

@layer base {
  *,
  ::before,
  ::after {
    --tw-ring-color: #000;
  }

  button,
  a,
  [role='button'] {
    touch-action: manipulation;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}
